{{/* 使用 logo 作为 favicon，与网站 logo 一致 */}}
{{ $logo := resources.Get "img/logo.png" }}
{{ if $logo }}
  {{ $favicon32 := $logo.Fill "32x32" }}
  {{ $favicon16 := $logo.Fill "16x16" }}
  {{ $appleTouch := $logo.Fill "180x180" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouch.RelPermalink }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
  <link rel="icon" href="{{ $favicon32.RelPermalink }}">
  <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
{{ else }}
  {{/* 若 logo 未找到，使用默认 favicon */}}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
{{ end }}
